name: Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  python-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install dependencies
        run: poetry install --with dev
      - name: Run basedpyright
        run: poetry run basedbyright flipdot
      - name: Run ruff
        run: poetry run ruff check flipdot
